@media only screen and (min-width: 780px) {
  .logo-sm {
    display: block;
  }
  .advertisements {
    grid-template-columns: 1fr 1fr;
  }

  .business:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 350px;
    margin: 0 auto;
  }

  .events-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .weather-forecast {
    width: 350px;
    padding-top: 30px;
    height: 370px;
  }
  .events {
    width: 370px;
    margin-top: 30px;
  }
  .categories-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 60px;
    top: 0;
    box-shadow: 0px 0px 8px 0.5px;
    padding: 0 20px;
  }
  .links {
    flex-direction: row;
  }
  .category,
  .logo-sm {
    margin: auto 0;
  }
  .nav {
    padding: 0;
  }
  .navigation {
    display: none;
  }
}
