@media only screen and (min-width: 960px) {
  .cards {
    display: flex;
  }
  section {
    flex-direction: column;
    padding: 15px;
    margin: 0 10px;
  }

  section:nth-child(odd) {
    flex-direction: column;
  }

  section img {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero-img {
    width: 80%;
    margin: 20px auto;
  }
}
