@media only screen and (min-width: 780px) {
  /*----------- NAVIGATION --------------*/
  nav {
    width: 100%;
    background-color: #005c7a;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 6px;
  }
  nav a {
    width: 165px;
    text-align: center;
  }
  .disappear-lg {
    display: none;
  }
  .logo,
  .appear {
    display: block;
  }
  .logo {
    background-image: url(../images/logositeplan.png);
    position: absolute;
    background-repeat: no-repeat;
    padding: 0;
    margin: 10px;
    background-size: 120px 28.3px;
    width: 120px;
    height: 30px;
  }
  .logo:hover {
    background-image: url(../images/logositeplanhover.png);
    transform: scale(1.1);
  }
  nav #links {
    display: inline !important;
  }
  #links div {
    color: white;
    display: inline-flex;
  }
  #links a:hover {
    background-color: #007aa3;
  }
  .active {
    background-color: #00a9a5;
  }
  nav a.icon {
    display: none;
  }
  /*----------- MAIN --------------*/
  main {
    margin: 60px 17%;
  }
  h3 {
    margin-top: 50px;
  }

  /*--------------- COLOR SCHEME ---------------*/

  .colors > * {
    width: 200px;
    height: 300px;
    border-radius: 5px;
    margin-right: 10px;
    line-height: 1.8rem;
  }
  .center + p {
    text-align: center;
  }

  /*--------------- Target Audience ---------------*/
  .personas img {
    width: 350px;
  }
}
