@media only screen and (min-width: 1040px) {
  .header-title {
    font-size: 60px;
  }
  .header-subtitle {
    font-size: 40px;
  }

  .header-text {
    margin-top: 200px;
  }

  .business-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1350px) {
  main {
    width: 60vw;
    margin: 0 auto;
  }
  .hero-img {
    margin-top: -150px;
  }
  .header-text {
    margin-top: 280px;
  }
}
